@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Raleway%3A100);

body {}

body, p, table, td
{
    font:normal 16px/150% Raleway, cursive;
    color:#000000;
}

input, textarea
{
    font:normal 16px/150% Raleway, cursive;
}

h1
{
    font:normal normal normal 20px/140% Raleway, cursive;
    color:#D3AA00;
    
}

h2
{
    font:normal normal normal 20px/140% Raleway, cursive;
    color:#e6d4a6;
    
}

h3
{
    font:normal normal bold 15px/140% Raleway, cursive;
    color:#e6d4a6;
    
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#000000;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #000000;
}

div.hr
{
    border-bottom-style:solid;
    border-bottom-width:1px; /* fix */
    border-color: #666666;
    height: 1px;
}